<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
  <div id="app" class="flex justify-center bg-gray-200">
    <div class="page-content page-container" id="page-content">
      <div class="row container d-flex justify-content-center">
        <div class="card-body">
          <h4 class="card-title">Photo Gallery {{ countdone }}</h4>
          <photo-search :from="from"></photo-search>
          <div v-if="searching !== 0 " v-for="(url , index) in searching">
            <photo-items :task="url" @when-like="toggleDone"></photo-items>
          </div>
          <div v-else class="mt-10 bg-white shadow-lg rounded w-full mx-auto px-auto py-5 flex justify-center">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">No Photos</h2>
          </div>
        </div>
      </div>
    </div>
    <photo-view :modal="modals" :imagemodal="imageModals" @when-modal="toggleModal"></photo-view>
  </div>
  <!-- my main.js -->
  <script src="./main.js"></script>
  <script src="./components/PhotoItem.js"></script>
  <script src="./components/PhotoSearch.js"></script>
  <script src="./components/PhotoView.js"></script>
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>